In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import time
import collections
from datetime import datetime

In [ ]:
df = pd.read_csv("dataset/complaint_data.csv")

# Removing outliers
df = df[~(df['CMPLNT_TO_DT'] >= '2017-01-01')]
df = df[~(df['ZIPCODE'] == 83)]

# Data cleansing - removing null columns and data points
# Redundant columns
dropcols = ["Lat_Lon","X_COORD_CD","Y_COORD_CD","CMPLNT_NUM","CMPLNT_TO_DT","RPT_DT","CMPLNT_TO_TM"] 
for i in df.columns:
    if float(df[i].isnull().sum())/len(df)*100 > 20: # if more than 10% data is empty, clip the column
        dropcols.append(i)
df = df.drop(dropcols, axis=1)
df = df[~df.isnull().any(axis=1)]

df["CMPLNT_FR_DT"] = df["CMPLNT_FR_DT"].apply(lambda x: datetime.strptime(x, '%m/%d/%y')
                                              .strftime('%Y-%m-%d')).astype('datetime64[ns]')
df["CMPLNT_FR_DT"] = pd.to_datetime(df["CMPLNT_FR_DT"])

# Converting time of crimes into Timezones and Dates into only the month in which they occur
df['month'] = df['CMPLNT_FR_DT'].map(lambda x: x.month)
df = df.reset_index(drop=True)
df["timezone"] = df["CMPLNT_FR_TM"].apply(lambda x: int(x.strip().split(':')[0])//6)

In [ ]:
# Compiling list of Offenses, their categories and key codes

offense_code = {}
offlist = df["OFNS_DESC"].unique()
for each in offlist:
    key = df[df["OFNS_DESC"]==each]["KY_CD"].unique()[0]
    offense_code[key] = each

print "Offense Codes and Description " + str(len(offense_code))
print ""
offense_code = collections.OrderedDict(sorted(offense_code.items()))
for k,v in offense_code.items():
    print k,v
    
# Repeating the same for Police Codes and Descriptions

pd_code = {}
pdlist = df["PD_DESC"].unique()
for each in pdlist:
    key = df[df["PD_DESC"]==each]["PD_CD"].unique()[0]
    pd_code[key] = each

print ""
print "Police Department Codes and Descriptions " + str(len(pd_code))
pd_code = collections.OrderedDict(sorted(pd_code.items()))
for k,v in pd_code.items():
    print k,v

# INFERENCES
# Using only KY_CD for analysis as KY_CD and PD_CD cover similar ground of information and thus redundant to use both.

In [ ]:
df.info()

In [ ]:
# Collecting list of Precincts and the list of Zipcodes from the dataset

zipcodes = list(df['ZIPCODE'].unique())
zipcodes.sort()
#zipcodes = zipcodes[1:]
zipcodes = map(int,zipcodes)

precincts = list(df['ADDR_PCT_CD'].unique())
precincts.sort()

In [32]:
# Feature Engineering to extract crime statistics across Zipcodes and precincts

columns = ["Zipcode", "Borough", "Avg_timezone0","Avg_timezone1","Avg_timezone2","Avg_timezone3",
           "Avg_month","Monthly_trend","Avg_felony","Felony_trend","Avg_misdem","Misdem_trend",
           "Avg_vio","Vio_trend","Threat_to_person","Threat_to_belonging"]

zip_df = pd.DataFrame(index=np.arange(len(zipcodes)),columns=columns)
zip_df["Zipcode"] = zipcodes

boroughs = []
timezone0 = []
timezone1 = []
timezone2 = []
timezone3 = []
month = []
felony = []
misdem = []
vio = []

# 1. Average number of crimes across each timezone, monthly averages, law category average for every Zipcode
for i in range(len(zip_df)):
    z = zip_df.iloc[i]["Zipcode"]
    boroughs.append(df[df["ZIPCODE"]==z]["BORO_NM"].unique()[0].title())
    
    timezone0.append(len(df[(df["ZIPCODE"]==z) & (df["timezone"]==0)]))
    timezone1.append(len(df[(df["ZIPCODE"]==z) & (df["timezone"]==1)]))
    timezone2.append(len(df[(df["ZIPCODE"]==z) & (df["timezone"]==2)]))
    timezone3.append(len(df[(df["ZIPCODE"]==z) & (df["timezone"]==3)]))
    month.append(float(len(df[df["ZIPCODE"]==z]))/12)
    
    felony.append(float(len(df[(df["ZIPCODE"]==z) & (df["LAW_CAT_CD"]=="FELONY")]))/12)
    misdem.append(float(len(df[(df["ZIPCODE"]==z) & (df["LAW_CAT_CD"]=="MISDEMEANOR")]))/12)
    vio.append(float(len(df[(df["ZIPCODE"]==z) & (df["LAW_CAT_CD"]=="VIOLATION")]))/12)
    
zip_df["Borough"] = boroughs
zip_df["Avg_timezone0"] = timezone0
zip_df["Avg_timezone1"] = timezone1
zip_df["Avg_timezone2"] = timezone2
zip_df["Avg_timezone3"] = timezone3
zip_df["Avg_month"] = month
zip_df["Avg_felony"] = felony
zip_df["Avg_misdem"] = misdem
zip_df["Avg_vio"] = vio

# Combining Population of each Zipcode with the current data

df_census = pd.read_csv("dataset/censusbyzip.csv", index_col=None)
df_census.columns = ["Zipcode","Population"]
zip_df = pd.merge(zip_df, df_census, on=['Zipcode'])

In [30]:
# 2. Analyzing trends in crime statistics to gauge a simple -1,0,1 implying Decreasing, Neutral, Increasing

for i in range(len(zip_df)):
    z = zip_df.iloc[i]["Zipcode"]

,Zipcode,Borough,Avg_timezone0,Avg_timezone1,Avg_timezone2,Avg_timezone3,Avg_month,Monthly_trend,Avg_felony,Felony_trend,Avg_misdem,Misdem_trend,Avg_vio,Vio_trend,Threat_to_person,Threat_to_belonging,Population
0,10001,Manhattan,566,750,2298,1456,422.500000,NaN,1535,NaN,3180,NaN,355,NaN,NaN,NaN,21102
1,10002,Manhattan,909,608,1287,1211,334.583333,NaN,1091,NaN,2409,NaN,515,NaN,NaN,NaN,81410
2,10003,Manhattan,640,523,1240,1036,286.583333,NaN,1154,NaN,1985,NaN,300,NaN,NaN,NaN,56024
3,10004,Manhattan,44,114,203,76,36.416667,NaN,120,NaN,258,NaN,59,NaN,NaN,NaN,3089
4,10005,Manhattan,33,54,84,66,19.750000,NaN,76,NaN,134,NaN,27,NaN,NaN,NaN,7135
5,10006,Manhattan,21,70,123,48,21.833333,NaN,64,NaN,168,NaN,30,NaN,NaN,NaN,3011
6,10007,Manhattan,61,203,574,248,90.500000,NaN,234,NaN,770,NaN,82,NaN,NaN,NaN,6988
7,10009,Manhattan,454,407,707,788,196.333333,NaN,684,NaN,1348,NaN,324,NaN,NaN,NaN,61347
8,10010,Manhattan,269,363,666,349,137.250000,NaN,597,NaN,890,NaN,160,NaN,NaN,NaN,31834
9,10011,Manhattan,670,474,1130,768,253.500000,NaN,1051,NaN,1698,NaN,293,NaN,NaN,NaN,50984
10,10012,Manhattan,382,246,803,515,162.166667,NaN,662,NaN,1138,NaN,146,NaN,NaN,NaN,24090
11,10013,Manhattan,291,402,1097,426,184.666667,NaN,746,NaN,1232,NaN,238,NaN,NaN,NaN,27700
12,10014,Manhattan,468,254,446,472,136.666667,NaN,648,NaN,797,NaN,195,NaN,NaN,NaN,31959
13,10016,Manhattan,364,380,614,458,151.333333,NaN,715,NaN,850,NaN,251,NaN,NaN,NaN,54183
14,10017,Manhattan,160,251,434,267,92.666667,NaN,413,NaN,588,NaN,111,NaN,NaN,NaN,16575
15,10018,Manhattan,268,415,790,570,170.250000,NaN,724,NaN,1154,NaN,165,NaN,NaN,NaN,5229
16,10019,Manhattan,611,671,1339,1142,313.583333,NaN,1381,NaN,1850,NaN,532,NaN,NaN,NaN,42870
17,10020,Manhattan,13,31,143,117,25.333333,NaN,152,NaN,137,NaN,15,NaN,NaN,NaN,0
18,10021,Manhattan,81,155,265,137,53.166667,NaN,315,NaN,251,NaN,72,NaN,NaN,NaN,43631
19,10022,Manhattan,210,337,743,467,146.416667,NaN,759,NaN,809,NaN,189,NaN,NaN,NaN,31924
20,10023,Manhattan,213,400,852,506,164.250000,NaN,560,NaN,1169,NaN,242,NaN,NaN,NaN,60998
21,10024,Manhattan,193,274,529,347,111.916667,NaN,441,NaN,709,NaN,193,NaN,NaN,NaN,59283
22,10025,Manhattan,466,577,1110,827,248.333333,NaN,905,NaN,1635,NaN,440,NaN,NaN,NaN,94600
23,10026,Manhattan,389,445,836,864,211.166667,NaN,757,NaN,1419,NaN,358,NaN,NaN,NaN,34003
24,10027,Manhattan,595,857,1771,1424,387.250000,NaN,1251,NaN,2727,NaN,669,NaN,NaN,NaN,59707
25,10028,Manhattan,94,201,410,262,80.583333,NaN,364,NaN,512,NaN,91,NaN,NaN,NaN,45141
26,10029,Manhattan,716,915,1690,1577,408.166667,NaN,1202,NaN,3042,NaN,654,NaN,NaN,NaN,76003
27,10030,Manhattan,350,370,614,670,167.000000,NaN,527,NaN,1130,NaN,347,NaN,NaN,NaN,26999
28,10031,Manhattan,452,561,963,843,234.916667,NaN,678,NaN,1748,NaN,393,NaN,NaN,NaN,56438
29,10032,Manhattan,500,436,650,662,187.333333,NaN,693,NaN,1231,NaN,324,NaN,NaN,NaN,57331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,11379,Queens,89,107,200,180,48.000000,NaN,181,NaN,283,NaN,112,NaN,NaN,NaN,34821
159,11385,Queens,453,467,877,794,215.916667,NaN,858,NaN,1316,NaN,417,NaN,NaN,NaN,98592
160,11411,Queens,100,151,224,173,54.000000,NaN,263,NaN,294,NaN,91,NaN,NaN,NaN,18556
161,11412,Queens,209,258,407,429,108.583333,NaN,478,NaN,631,NaN,194,NaN,NaN,NaN,34882
162,11413,Queens,215,297,497,468,123.083333,NaN,568,NaN,664,NaN,245,NaN,NaN,NaN,38912
163,11414,Queens,121,125,195,231,56.000000,NaN,287,NaN,266,NaN,119,NaN,NaN,NaN,26148
164,11415,Queens,75,95,110,106,32.166667,NaN,138,NaN,183,NaN,65,NaN,NaN,NaN,19341
165,11416,Queens,124,122,257,232,61.250000,NaN,225,NaN,396,NaN,114,NaN,NaN,NaN,24861
166,11417,Queens,205,251,383,353,99.333333,NaN,456,NaN,580,NaN,156,NaN,NaN,NaN,28967
167,11418,Queens,299,239,320,324,98.500000,NaN,412,NaN,592,NaN,178,NaN,NaN,NaN,36256
168,11419,Queens,249,250,408,509,118.000000,NaN,488,NaN,661,NaN,267,NaN,NaN,NaN,47211
169,11420,Queens,347,274,492,609,143.500000,NaN,629,NaN,860,NaN,233,NaN,NaN,NaN,44354
170,11421,Queens,177,146,251,278,71.000000,NaN,250,NaN,481,NaN,121,NaN,NaN,NaN,39127
171,11422,Queens,134,179,259,310,73.500000,NaN,338,NaN,392,NaN,152,NaN,NaN,NaN,30425
172,11423,Queens,133,206,324,295,79.833333,NaN,321,NaN,472,NaN,165,NaN,NaN,NaN,29987
173,11426,Queens,67,73,124,131,32.916667,NaN,150,NaN,195,NaN,50,NaN,NaN,NaN,17590
174,11427,Queens,70,115,207,182,47.833333,NaN,198,NaN,272,NaN,104,NaN,NaN,NaN,23593
175,11428,Queens,95,119,171,190,47.916667,NaN,192,NaN,293,NaN,90,NaN,NaN,NaN,19168
176,11429,Queens,128,190,283,323,77.000000,NaN,325,NaN,450,NaN,149,NaN,NaN,NaN,25105
177,11430,Queens,6,4,7,5,1.833333,NaN,6,NaN,14,NaN,2,NaN,NaN,NaN,184
178,11432,Queens,358,528,1050,800,228.000000,NaN,879,NaN,1444,NaN,413,NaN,NaN,NaN,60809
179,11433,Queens,349,443,699,664,179.583333,NaN,758,NaN,1081,NaN,316,NaN,NaN,NaN,32687
180,11434,Queens,613,938,1352,1181,340.333333,NaN,1289,NaN,2401,NaN,394,NaN,NaN,NaN,59129
181,11435,Queens,336,395,573,594,158.166667,NaN,647,NaN,961,NaN,290,NaN,NaN,NaN,53687
182,11436,Queens,119,140,176,212,53.916667,NaN,248,NaN,318,NaN,81,NaN,NaN,NaN,17949
183,11691,Queens,446,532,858,792,219.000000,NaN,954,NaN,1207,NaN,467,NaN,NaN,NaN,60035
184,11692,Queens,91,171,238,250,62.500000,NaN,288,NaN,321,NaN,141,NaN,NaN,NaN,18540
185,11693,Queens,101,142,240,211,57.833333,NaN,254,NaN,312,NaN,128,NaN,NaN,NaN,11916
186,11694,Queens,81,108,209,120,43.166667,NaN,183,NaN,234,NaN,101,NaN,NaN,NaN,20408
187,11697,Queens,10,19,23,3,4.583333,NaN,40,NaN,12,NaN,3,NaN,NaN,NaN,4079